%table
  %tbody
    %tr
      %td Name:
      %td Email:
      %td Description:
      %td Links:
    - users.each do |u|
      %tr
        %td=u.name
        %td=u.email
        %td=u.description
        %td
          -if current_user && current_user.can_edit(u)
            =link_to 'Edit', edit_user_path(u)


