- if users.none?
  .alert.alert-success= t('Please add new user')
- else
  %table.table.table-condensed
    %thead
      %tr
        %th Title:
        %th Email:
        %th Description:
        %th Links:
      %tbody
        =render users


