%tr
  %td= advertisement.title
  %td
    = link_to t('Show'), advertisement_path(advertisement), class: 'btn btn-default'
    = link_to t('Edit'), edit_advertisement_path(advertisement), class: 'btn btn-default'
